.card {
  width: 220px;
  padding: 4px;
  background: white;
  border-radius: 4px;
  border: 1px;
  border-color: #ddd;
  box-shadow: 0px 0px 1px 0px #aaa;
}


.coverImage {
  width: 230px;
  height: 322px;
}

.title {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.swiper-container {
  height: 400px;
  padding-top: 20px;
}

.swiper-slide-active {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;

  .card {
    box-shadow: 0px 10px 20px 0px #aaa;
    transition: box-shadow 0.5s ease-in-out;
  }
}