.carousel-side {
  display: block;
  text-align: center;
  padding: 4px;
}

.swiper-slide-active {
  // background: green;
}

// .swiper-container {
//   height: 400px;
//   padding-top: 20px;
// }

// .swiper-slide-active {
//   transform: scale(1.1);
//   transition: all 0.3s ease-in-out;
// }
