@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

html, body, #root {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #eee;
  display: flex !important;
  flex-direction: column !important;
  margin: 0 !important;
  height: 100% !important;
}